body{
    font-family: Arial, Helvetica, sans-serif;
    color: whitew;
    background-color: black;
    text-align: right;
    direction: rtl;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}