body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    text-align: right;
    direction: rtl;
}
h1{
    color: white;
}
.contact-info{
    margin-bottom: 20px;
}
.contact-info h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.contact-info p{
    font-size: 16px;
}